{% extends "base.html" %}
{% block title %}products{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
                            {% for product in products %}
                                <a href="{% url 'prod' product.slug %}" 
                                    <div class="col-sm-4">
                                        <div class="productinfo text-center">
                                            {% for img in product.productimage_set.all %}
                                                <img src='{{ MEDIA_URL }}{{ img.image }}'>
                                            {% endfor %}
                                            <h2>{{ product.price }}</h2>
                                            <p>{{ product.title }}</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
					</div><!--features_items-->
				</div>
			</div>
		</div>


        <nav><!--pagination-->
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li>{% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}</li>
            <li>{% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}">next</a>
                {% endif %}</li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav><!--pagination-->

	</section>

{% endblock %}
