{% extends "base.html" %}
{% block title %}product{% endblock %}

{% block jquery %}

    $(".add_to_cart_btn").click(function(e){
        e.preventDefault();
        $.ajax({

            url: '{% url 'add_ajax' %}',
            type: 'POST',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                slug: $('#id_slug').val(),
                qty: $('#id_quantity').val(),
            },
            dataType: 'json',

            success: function(data){
                $(".cart_badge_info").text(data);
                $(".add_to_cart_btn").attr('disabled', true).text('Item Added');

            },

            error: function(e){
                alert('Some error occured');
            }
        });
    });

    $('#rating-id').on('rating.change', function(e) {
        e.preventDefault();
        $.ajax({

            url: '{% url 'rating' %}',
            type: 'POST',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                slug: $('#id_slug').val(),
                rate: $('.rating').val()
            },
            dataType: 'json',

            success: function(data){
                alert('Thank You For Rating\nNew Rating Is:' +data);
                $('.rating').rating('update', data);
                console.log(data);
            },

            error: function(e){
                alert('Some error occured');
            }

        });
    });

{% endblock %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
					<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                    <img src='{{ MEDIA_URL }}{{ product.image }}'>
								<h3>ZOOM</h3>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h1>{{ product.title }}</h1>
								<span>
									<span>{{ product.price }}</span>
                                        
                                    <input type='hidden' name='slug' id='id_slug' value='{{product.slug }}'/>

                                    <input id="rating-id" value="{{ product.rating }}" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm">

                                    <label>Quantity:</label>

                                    <input type='number' name='qty' id='id_quantity' value='1' placeholder='Qty' required='required'/>

                                    <button type="submit" class="btn btn-primary add_to_cart_btn"><i class="glyphicon glyphicon-shopping-cart"></i>Add to cart</button>

                                    {% if product.variation_set.all %}

                                        {% if product.variation_set.sizes %}
                                            <select class='form-control' name='size'>
                                                {% for item in product.variation_set.sizes %}
                                                    <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}

                                        {% if product.variation_set.colors %}
                                            <select class='form-control' name='color'>
                                                {% for item in product.variation_set.colors %}
                                                    <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}

                                    {% endif %}

								</span>
								<p><b>Availability:</b></p>
								<p><b>Condition:</b></p>
								<p><b>Brand:</b></p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}
