{% extends "base.html" %}
{% block title %}products{% endblock %}

{% block content %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
                            {% for product in products %}
                                <div class="col-sm-4">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                {% for img in product.productimage_set.all %}
                                                    <img src='{{ MEDIA_URL }}{{ img.image }}'>
                                                {% endfor %}
                                                <h2>{{ product.price }}</h2>
                                                <p>{{ product.title }}</p>
                                            </div>
                                            <div class="product-overlay">
                                                <div class="overlay-content">
                                                    <h2>{{ product.price }}</h2>
                                                    <p>{{ product.title }}</p>
                                                    <p><a href="{% url 'prod' product.slug %}" class="btn btn-default">View</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}
