{% extends "base.html" %}
{% block title %}product{% endblock %}

{% block jquery %}
    $(".add_to_cart_btn").click(function(e){
        e.preventDefault();
        $.ajax({

            url: '{% url 'add_ajax' %}',
            type: 'POST',
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                slug: $('#id_slug').val(),
                qty: $('#id_quantity').val(),
            },
            dataType: 'json',

            success: function(data){
                $(".cart_badge_info").text(data);
                $(".add_to_cart_btn").delay(250).fadeIn("slow").delay(100).fadeOut("slow");

            },

            error: function(e){
                alert('Some error occured');
            }
        });
    });
{% endblock %}

{% block content %}
<section>
		<div class="container">
			<div class="row">
					<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                    <img src='{{ MEDIA_URL }}{{ product.image }}'>
								<h3>ZOOM</h3>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h1>{{ product.title }}</h1>
								<span>
									<span>{{ product.price }}</span>

                                    <form class="cartForm" method="post" action="{% url "prod" product.slug %}">{% csrf_token %}
                                        <label>Quantity:</label>

                                        <input type='hidden' name='slug' id='id_slug' value='{{product.slug }}'/>

                                        <input type='number' name='qty' id='id_quantity' value='1' placeholder='Qty' required='required'/>

                                        <button type="submit" class="btn btn-primary add_to_cart_btn"><i class="fa fa-shopping-cart"></i>Add to cart</button>

                                        {% if product.variation_set.all %}

                                            {% if product.variation_set.sizes %}
                                                <select class='form-control' name='size'>
                                                    {% for item in product.variation_set.sizes %}
                                                        <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}

                                            {% if product.variation_set.colors %}
                                                <select class='form-control' name='color'>
                                                    {% for item in product.variation_set.colors %}
                                                        <option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}

                                        {% endif %}
                                    </form>

								</span>
								<p><b>Availability:</b></p>
								<p><b>Condition:</b></p>
								<p><b>Brand:</b></p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>
{% endblock %}
