{% extends "base.html" %}
{% load bootstrap %}
{% block title %}new_post{% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post" action="">
    <h1>Add post</h1>
    <div class="col-md-12">
        <div class="col-md-6">{% csrf_token %}
            {{ form|bootstrap }}
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <button type="submit" class="save btn btn-primary">Save</button>
        </div>
    </div>

</form>
{% endblock %}
