{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}

<div class="col-sm-12">
    <div class="blog-post-area">
        {% for post in posts %}
            <div class="single-blog-post">
                <h2><a href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
                <div class="post-meta">
                    <ul>
                        <li><i class="glyphicon glyphicon-user"></i>{{ post.author }}</li>
                        <li><i class="glyphicon glyphicon-calendar"></i>{{ post.published_date }}</li>
                    </ul>
                </div>
                <div>
                    {% if post.image %}
                        <a href="">
                            <img src="{{ MEDIA_URL }}{{ post.image }}" alt="">
                        </a>
                    {% endif %}
                </div>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% empty %}
          <p><h1>There are no posts.</h1></p>  
        {% endfor %}

        <div class="pagination"><!--pagination-->
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div><!--pagination-->
    </div>
</div>

{% endblock %}
