{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link href="{% static "bootstrap-3.3.5/css/bootstrap.min.css"%}" rel="stylesheet" media="screen">
</head>

<body>
    <div class="col-lg-6"><!--flash messages-->
        {% if messages %}
            <ul class="messages">
                {% for msg in messages %}
                    <li>
                        {% if "error" in msg.level_tag%}
                            <div class="alert alert-danger" role="alert">
                                <a class="close" data-dismiss="alert" href="{{ request.path }}">&times;</a>
                                {{ msg.message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{msg.level_tag}}" role="alert">
                                <a class="close" data-dismiss="alert" href="{{ currentUrl }}">&times;</a>
                                {{ msg.message}}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div><!--flash messages-->

    <div class="col-lg-12">
        <div class="row">
            {% include "header.html" %}
        </div>
    </div>

    <div class="col-lg-12 pull-left" style="margin-top: 75px;">
        <div class= "container">
            <div class="row">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

    <div class="col-lg-12" style="margin-top: 75px">
        <div class="row">
            {% include "footer.html" %}
        </div>
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script src= "{% static "bootstrap-3.3.5/js/bootstrap.min.js" %}"></script>


   <script type="text/javascript">
      $(document).ready(function(){
              {% block jquery %}
              {% endblock jquery%}
          });
   </script>

</body>
</html>
